  <%- include('header') -%>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="color: white">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">A simple ToDo app. Create a new list by navigating to /list/Your List Name</p>
  </div>
